*.iml
.allure/
target/
.project
.settings/
.classpath
.idea/
build/
logs/
bin
test-output
doc
chromedriver.log
testng.out.xml
.DS_Store
settings.json
local.log
.gradle/
src/test/resources/drivers/
browserstack.yml
node_modules
