<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Suites">
    <test name="parallel">
        <classes>
            <class name="com.browserstack.examples.suites.e2e.OrderTest"/>
            <class name="com.browserstack.examples.suites.login.LoginTest"/>
            <class name="com.browserstack.examples.suites.login.LoginFailTest"/>
            <class name="com.browserstack.examples.suites.offers.OfferTest"/>
            <class name="com.browserstack.examples.suites.product.FilterTest"/>
            <class name="com.browserstack.examples.suites.user.UserTest"/>
        </classes>
    </test>
    <test name="single">
        <classes>
            <class name="com.browserstack.examples.suites.e2e.OrderTest"/>
        </classes>
    </test>
</suite>
